lab4/others/2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="nazwa" type="xsd:string"/>
      <xsd:complexType name="element">
        <xsd:sequence>
          <xsd:element name="imie" type="xsd:string" maxOccurs="1"/>
          <xsd:element name="zawod" type="xsd:string" maxOccurs="unbounded"/>
          <xsd:element name="adres" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="telefon" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
          <xsd:attribute name="liczba" type="xsd:integer" use="required"/>
        </xsd:complexType>
</xsd:schema>
